.assessment-card(class=assessmentCardClass)
    .assessment-card-top
        .assessment-card-img
            img(src="assets/img/timeline-img.jpg")
            include feature
    .assessment-card-content
        .product-type
            img(src="assets/img/assesment.svg").product-type-icon
            .title.product-type-title Online 
                br 
                | Assesment Center
        if simpleCard
            .btn.btn--i.btn--white
                span.btn__icon.icon-font
                    svg.icon.icon-font
                        use(xlink:href='assets/icons/icons.svg#icon-right')
        p.text.text--sm Birden çok aracı bir arada sunan sistem sayesinde daha fazla adayı daha kısa sürede ve objektif şekilde değerlendirebilir ve tüm insan kaynakları süreçlerinizde zaman ve maliyet tasarrufu sağlayabilirsiniz.
        .assessment-card-links 
            .link.link--i-right.link--blue.link--md
                span.link__text Online Role Play

                span.link__icon.icon-font
                    svg.icon.icon-font
                        use(xlink:href='assets/icons/icons.svg#icon-right')
            .link.link--i-right.link--blue.link--md
                span.link__text Online Case Study

                span.link__icon.icon-font
                    svg.icon.icon-font
                        use(xlink:href='assets/icons/icons.svg#icon-right')
            .link.link--i-right.link--blue.link--md
                span.link__text Online Presentation

                span.link__icon.icon-font
                    svg.icon.icon-font
                        use(xlink:href='assets/icons/icons.svg#icon-right')
            .link.link--i-right.link--blue.link--md
                span.link__text Online Project

                span.link__icon.icon-font
                    svg.icon.icon-font
                        use(xlink:href='assets/icons/icons.svg#icon-right')
