a.blog-card(class=blogCardClass href="blog-detail.html")
    img(src="assets/img/about.png" alt="").blog-card-img
    .blog-card-content
        span.blog-card-category 
            | Kategori
        h3.blog-card-title 
            | İK Odaklı Yaklaşım
        p.blog-card-description
            | Birden çok aracı bir arada sunan sistem sayesinde daha fazla adayı daha kısa sürede ve objektif şekilde değerlendirebilir.