.blog-item
    .title.title--md “Bu site iş arama sürecimi kolaylaştırdı ve kariyerimdeki adımları daha bilinçli atmamda bana yardımcı oldu. Sitede yer alan ilanlar, rehberler ve makaleler sayesinde artık kendimi daha kararlı ve özgüvenli hissediyorum. Kesinlikle tavsiye ederim!.”
    .user
        .user-img 
            img(src="assets/img/user.png")
        .user-content 
            .user-content-title Abdurrahman Ercan
            .user-content-text Frontend Developer