.contact-item 
    img.contact-item-img(src="assets/img/contact.png" alt="")
    .contact-item-content 
        h2.contact-item-name Hollanda Ofis
        p.contact-item-address Laan op Zuid 392 3071 AA Rotterdam / Netherlands
        a.contact-item-phone(href="tel:+31102600000") 
            svg.icon.icon-font
                use(xlink:href='assets/icons/icons.svg#icon-phone')
            | +31 102 600 000
