.demo-form-success.modal.js-modal(data-modal-id="demo-form-success") 
    img(src="assets/img/logo.svg", alt="")
    h4.title Demo talebiniz alındı.
    p.text Formu doldurduğunuz için teşekkür ederiz. Uzmanlarımızdan biri en kısa sürede sizinle iletişime geçecektir.
    button.btn.btn--black.js-close-modal
        span.btn__text Tamam
