.faq-item
    .faq-item-header
        h3.title HR Peak’in kurulum ve entegrasyonu ne kadar sürüyor?
        .faq-arrow
            svg.icon.icon-font 
                use(xlink:href='assets/icons/icons.svg#icon-down')
    .faq-item-content
        p.text HRPeak’te kurulum süresi yoktur. Entegrasyonlar API’lar aracılığıyla yapılır. Satın alma işleminin hemen ardından sistem kullanılabilir. 
    