.demo-form-success.modal.js-modal.form-page-modal(data-modal-id="form-page-success") 
    .form-page-modal-top 
        img(src="assets/img/mondly-logo.png" alt="")
        svg.icon.icon-font
            use(xlink:href="assets/icons/icons.svg#icon-close")
        img(src="assets/img/logo.svg" alt="")
    .form-page-modal-content 
        h4.title Formu doldurduğunuz için teşekkür ederiz.
        p.text Uzmanlarımızdan biri en kısa sürede sizinle iletişime geçecektir. Ödüllü dil öğrenme uygulaması Mondly by Pearson ile ilgili daha fazla bilgi almak için lütfen butona tıklayın
        a(href="#").btn.btn--black.js-close-modal
            span.btn__text Detaylı Bilgi
            svg.icon.icon-font
                use(xlink:href="assets/icons/icons.svg#icon-angle-right")
