.history-item 
    .history-item-head 
        p 2002
    .history-item-divider 
        div
            span
    .history-item-content 
        h3 İK Odaklı Yaklaşım
        p Birden çok aracı bir arada sunan sistem sayesinde daha fazla adayı daha kısa sürede ve objektif şekilde değerlendirebilir.
