.langs
    .langs-menu
        span.langs-menu__icon.icon-font
            svg.icon.icon-font
                use(xlink:href='assets/icons/icons.svg#icon-world')
        span.langs-menu__code TR
        .langs-menu-right-icon
            svg.icon.icon-font
                use(xlink:href='assets/icons/icons.svg#icon-angledown')

        
    .langs-menu-content
        a(href="#").langs-menu-content__item
            .langs-menu__img
                img(src="assets/img/langs/en.svg")
            span.langs-menu__code EN
        a(href="#").langs-menu-content__item.active
            .langs-menu__img
                img(src="assets/img/langs/tr.svg")
            span.langs-menu__code TR
