.pagination
    a.pagination-item(href='#') 
        svg.icon.icon-font 
            use(xlink:href='assets/icons/icons.svg#icon-angle-left')
    a.pagination-item.active(href='#') 1
    a.pagination-item(href='#') 2
    a.pagination-item(href='#') 3
    a.pagination-item(href='#') ...
    a.pagination-item(href='#') 10
    a.pagination-item(href='#') 
        svg.icon.icon-font 
            use(xlink:href='assets/icons/icons.svg#icon-angle-right')
