.preference-item 
    .preference-item-title Maaş Aralığı
    .preference-item-text 15.000 TL - 30000 TL
        .text-icon
            svg.icon.icon-font
                use(xlink:href='assets/icons/icons.svg#icon-tik')