.questioning
    .questioning-left 
        .title.title--blue Katılımcı Belgesi Sorgulama
        .text 3500+ Sertifikalı HRPeak Kullanıcısı
    .questioning-right
        .input-wrapper
            
            input(name="name" type="text" placeholder="Sertifika Numarasını Giriniz" required ).input
            .input-icon
                svg.icon.icon-font
                    use(xlink:href='assets/icons/icons.svg#icon-search')