.timeline-item(class=customClass)
    .timeline-item-left
        .badge.badge--green #{badgeText}
        h3.title.title--xl We make it effortlessly to track all user analytics
        p.text Self-service data analytics software that lets you create visually appealing data visualizatioins and insightful dashboard in minutes
    .timeline-item-button #{count}
        .line
    .timeline-item-img
        img(src="assets/img/timeline-img.jpg")
        
