.why-use-item 
    img(src="assets/img/Frame.svg", alt="")
    h3 Online Yönetim ve Sonuçlandırma
    p Presentation online olarak uygulanır ve sistem üzerinden değerlendirici tarafından yönetilebilir, değerlendirilebilir ve sonuçlandırılabilir.