.dropdown-wrapper {
    width: 100%;
    position: relative;
    z-index: 5;
    &.phonecode {
        max-width: 11rem;
        .dropdown_bar-item__icon {
            display: none;
        }
        .dropdown_bar-item {
            border-right: 0;
        }
    }

    &.gray {
        .dropdown_bar {
            height: 4.3rem;
            &-item {
                background: rgba(224, 228, 245, 0.76);
                height: 4.3rem;
                padding-left: 1.8rem;
                border-radius: 1rem;
                &__top-title {
                    color: $c-black;
                    font-size: 1.5rem;
                }
                &__title {
                    font-size: 1.5rem;
                }
                &__icon {
                    right: 1.8rem;
                }
                &-box {
                    &-wrapper {
                        top: 5.5rem;
                        padding: .5rem;
                        border-radius: 1rem;
                    }
                    &__item {
                        height: 3.5rem;
                        border-radius: .7rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    &.filter {
        max-width: 15rem;
        .dropdown_bar {
            height: 3rem;
            &-item {
                background: transparent;
                height: 3rem;
                padding-left: 0;
                border-radius: 1rem;
                &__top-title {
                    font-weight: 500;
                    color: rgba($c-black, 0.3);
                }
                &__title {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
                &__icon {
                    right: 0;
                }
                &-box {
                    &-wrapper {
                        top: 4rem;
                        padding: .5rem;
                        border-radius: 1rem;
                    }
                    &__item {
                        height: 3.5rem;
                        border-radius: .7rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    &.wide {
        min-width: 15rem;
    }
}

.dropdown-bar-title {
    color: rgba($c-black, 0.6);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.dropdown_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6.8rem;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: $box-shadow;
    @include bp(tablet) {
        padding-right: 0;
    }

    &-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 2.7rem;
        font-size: 1.8rem;
        letter-spacing: -0.001em;
        height: 6.8rem;
        transition: $transition;
        position: relative;
        font-weight: 400;
        //border: 1px solid $c-border;
        background: $c-white;
        border-radius: 3.8rem;

        @include bp(mobile) {
            height: 4.2rem;
        }
        &.disabled {
            display: none;
        }
        &.input-error {
            margin-bottom: 2.5rem;
        }

        &__top-title {
            pointer-events: none;
            position: absolute;
            transition: $transition;
            color: rgba(#727274, 0.85);
            font-size: 1.6rem;
            letter-spacing: $letter-spacing;
            @include bp(tablet) {
                left: 1.25rem;
                top: 1rem;
            }
            @include bp(mobile) {
                left: rem(16);
                top: 50%;
                transform: translateY(-50%);
                font-size: rem(15);
            }
        }

        &.active,
        &.selected {
            .dropdown_bar-item__title {
                color: $c-black;
            }
        }
        &.selected {
            .dropdown_bar-item__title {
                opacity: 1;
                @include bp(tablet) {
                    opacity: 0;
                }
            }
            .dropdown_bar-item__top-title {
                opacity: 0;
            }
            select {
                @include bp(mobile) {
                    opacity: 1;
                    top: 0;
                    padding-top: 0;
                }
            }
        }

        select {
            background: none;
            appearance: none;
        }

        & + & {
            border-left: 1px solid $c-border;
            @include bp(tablet-small-under) {
                border-left: 0;
                border-bottom: 1px solid $c-border;
                &:nth-child(2) {
                    @include bp(tablet-small-under) {
                        border-bottom: 0;
                    }
                }
            }
        }
        select {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            left: 0;
            top: 0;
            padding-left: 1.6rem;
            z-index: 2;
            border: 0;
            outline: 0;
            font-weight: 400;
            color: $c-black;
            font-size: 1.5rem;
            pointer-events: none;
            @include bp(tablet) {
                padding-left: 1.6rem;
                pointer-events: all;
                opacity: 1;
            }
            @include bp(mobile) {
                opacity: 0;
            }
        }
        &__icon {
            font-size: 1rem;
            color: $c-black;
            transition: $transition;
            position: absolute;
            right: 2.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.red {
                color: $c-red;
            }
            @include bp(mobile) {
                right: 1.5rem;
            }
            &-left {
                display: flex;
                position: absolute;
                left: 2.2rem;
                color: $c-red;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.6rem;
            }
        }

        &__title {
            transition: $transition;
            opacity: 0;
            position: absolute;
            top: unset;
            color: $c-black;
            font-size: 1.6rem;
            letter-spacing: -0.5px;
        }

        &.active {
            .dropdown_bar-item-box-wrapper {
                opacity: 1;
                pointer-events: all;
            }
            .dropdown_bar-item__icon {
                transform: scale(1, -1);
            }
        }

        &-box {
            max-height: 20.5rem;
            overflow-y: auto;
            &__item {
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: $c-black;
                font-size: 1.4rem;
                line-height: 1;
                margin-bottom: 3px;
                transition: $transition;
                padding: 0 1rem;
                white-space: nowrap;
                width: 100%;
                border-radius: 3rem;
                &:last-child {
                    margin-bottom: 0;
                }

                &:not(.active):hover {
                    background: $c-bg;
                }

                &.active {
                    background: $c-bg;
                    color: $c-black;
                    border: 1px solid $c-border;
                }
            }
            &-wrapper {
                position: absolute;
                top: 8rem;
                left: -1px;
                background: #fff;
                min-width: 3rem;
                // z-index: 4;
                width: calc(100% + 2px);
                height: auto;
                // max-height: 10rem;
                // overflow-y: auto;
                display: block;
                opacity: 0;
                transition: $transition;
                pointer-events: none;
                box-shadow: $box-shadow;
                border-radius: 3rem;
                padding: 1rem;
                padding-right: 1rem;
                border: 1px solid $c-border;
            }
        }
    }
    .filter-icon {
        font-size: 2.5rem;
    }

    &__btn {
        min-width: unset;
        height: 6.8rem;
        display: flex;
        @include bp(tablet) {
        }
        @include bp(tablet-small-under) {
            width: 100%;
            display: flex;
        }
    }
}
