.shape {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    // &.left-0 {
    //     left: 0;
    // }
    // &.top-0 {
    //     top: 0;
    // }
    // &.top-19 {
    //     top: 19rem;
    // }
    // &.top-11 {
    //     top: 11rem;
    // }
    // &.top-35 {
    //     top: 35rem;
    // }
    // &.top-55 {
    //     top: 55rem;
    // }
    // &.right-0 {
    //     right: 0;
    // }
    // &.bottom-0 {
    //     bottom: 0;
    // }

}