extends blocks/layout
block vars
    - var index = true;
    - var header = true;
    - var footer = true;
    - var shortcut = true;
    - var shortcutTalentImg = true;

block append head
    title Contact | Hr Peak
    meta(name='description' content="One tool to manage contracts and your team")
    // Facebook
    meta(property='og:title' content='Hr Peak')
    meta(property='og:description' content="One tool to manage contracts and your team")
    meta(property='og:image' content='assets/img/thumb.jpg')
    // Twitter
    meta(property='twitter:url' content='#')
    meta(property='twitter:title' content='Hr Peak')
    meta(property='twitter:description' content="One tool to manage contracts and your team")
    meta(property='og:image' content='assets/img/thumb.jpg')

block content 
    .subpage.contact

        .subpage-intro
            .container 
                .hero.hero-left.hero-bg-dark
                    h5.toptitle Bize Ulaşın
                    h1.title.title--xxl.title--center.hero-title Dünyanın farklı yerlerindeki HRPeak noktalarına ulaşın!
        .hero-logo 
            img(src="assets/img/hr-logo.png" alt="Hr Peak")

        .contact-wrapper.container
            .contact-wrapper-left 
                include blocks/components/contact-item
                include blocks/components/contact-item
                include blocks/components/contact-item

            form(action="").contact-form.validateForm
                h2.contact-form-title İletişim Formu
                .contact-form-container
                    .input-wrapper
                        label(for="name").input-title Ülke
                        .custom-select
                            select#employees(name="employees" required)
                                option(value="" disabled selected) Ülke seçin
                                option(value="tr") Türkiye
                                option(value="hl") Hollanda
                                option(value="us") Amerika
                    .input-wrapper
                        label(for="name").input-title Ad Soyad
                        input(type="text" id="name" name="name" placeholder="Adınız" required).input
                    .input-group
                        .input-wrapper
                            label(for="email").input-title E-posta
                            input(type="email" id="email" name="email" placeholder="E-Posta Adresiniz" required).input
                        .input-wrapper
                            label(for="phone").input-title Telefon
                            input(type="number" id="phone" name="phone" placeholder="Telefon Numaranız" required).input
                    .input-group
                        .input-wrapper
                            label(for="sirket").input-title Şirket
                            input(type="text" id="sirket" name="sirket" placeholder="Şirket İsminiz" required).input
                        .input-wrapper
                            label(for="phone").input-title Çalışan Sayısı
                            .custom-select
                                select#employees(name="employees" required)
                                    option(value="" disabled selected) Çalışan sayısını seçin
                                    option(value="1-10") 1-10
                                    option(value="11-50") 11-50
                                    option(value="51-200") 51-200
                                    option(value="200+") 200+
                    .input-wrapper.textarea
                        label(for="message").input-title Mesajınız
                        textarea(id="message" name="message" placeholder="Mesajınızı yazınız" required)
                    button.btn.btn--black(type="submit") 
                        span.btn__text Gönder






