/* Colors */
$c-bg: #FAFAFA;
$c-blue: #009EE2;
$c-second-blue: #2377c5;
$c-white: #ffffff;
$c-light: #E1E7FB;
$c-black: #141417;
$c-dark-black : #1c2c35;
$c-gray: #A1A1A2;
$c-dark-gray: #8C93A4;
$c-light-gray: #0303031A;
$c-red: #C92C2B;
$c-red-light: #DA4241;
$c-purple: #bd8fbd;
$c-green: #49B989;
$c-dark-green: #39A577;
$c-dark-blue: #316BAF;
$c-light-blue: #DEEEFF;
$c-text: rgba($c-black , .8);
$c-text-light: rgba($c-black,.50);
$c-border: #E5ECEC;
$c-border-dark: #D7DBEA;
$c-border-white: rgba(#fff, .15);
$c-title: $c-black;
$c-divider: rgba($c-black, .1);




/* Font Families*/
$font-family-base: 'Graphik', sans-serif;
$font-family-second: "Graphik", sans-serif;

/* Box Shadows */
$box-shadow: 0px 10px 20px -15px rgba(143, 143, 163, 0.40);



$box-shadow-card: 0px 60px 60px -40px rgba(143, 143, 163, 0.40);



/* Transitions */

$transition: .3s cubic-bezier(.29, .13, .27, .74);
$transition-normal: .25s ease-in-out;
$transition-fast: .2s cubic-bezier(.29, .13, .27, .74);
$transition-slow: .6s cubic-bezier(.21,1.09,1,.99);


/* Letter Spacing*/

$letter-spacing: -0.14px;

:root {
  --font-size-title--xxxl: 9.2rem;
  --font-size-title--xxl: 4.8rem;
  --font-size-title--xl: 3.8rem;
  --font-size-title--lg: 3.2rem;
  --font-size-title--lmd: 2.8rem;
  --font-size-title--md: 2.6rem;
  --font-size-title--sm: 1.8rem;
  --font-size-title--xs: 1.6rem;
  --font-size-title--xxs: 1.3rem;

  --font-size-toptitle: 1.7rem;

  --font-size-text: 1.6rem;
  --box-padding-lr: 7.6rem;
  --box-padding-tb: 7.6rem;

  --box-radius: 3.6rem;
  --input-height: 6.4rem;

  --container-small-padding: 16rem;
  --content-color: #{rgba($c-black, .8)};

  --swiper-theme-color: $c-black;
  --swiper-pagination-color: $c-black;

  --header-height: 9.4rem;
  --container-pusher: calc((100vw - var(--container-width)) / 2);
  --container-gutter: 16px;

  --container-width: 140rem;
  --container-medium-padding: 9rem;
  --container-small-width: 145rem;
  --container-medium-width: 150rem;
  --container-xsmall-width: 132rem;

  --container-large-padding: 11rem;
  // 150 * 9px = 1350px -> laptop-s
  @media (min-width: 576px) {
    --container-width: 540px;
  }

  @media (min-width: 768px) {
    --container-width: 720px;
  }
  @media (min-width: 992px) {
    --container-width: 1000px;
  }
  @media (min-width: 1200px) {
    --container-width: 1150px;
  }
  @include bp(r-laptop-s) {
    --container-width: 120rem;
  }
  @include bp(r-laptop) {
    //--container-width: 145rem;
  }
  // 170 * 9px = 1530px -> desktop-m
  @include bp(r-desktop-m) {
    //--container-width: 120rem;
  }
  @include bp(r-desktop-ml) {
    //--container-width: 155rem;
    // --container-width: 140rem;
  }
  // @include bp(r-desktop-ml) {
  //   --container-width: 165rem;
  // }
  @include bp(r-desktop-l) {
    --container-width: 160rem;
  }
  @media (min-width: 2561px) {
    //--container-width: 220rem;
  }

  @include bp(desktop-m) {
    --container-xsmall-padding: 13.8rem;
    --container-medium-padding: 9rem;
    --container-small-width: 145rem;
    --container-medium-width: 150rem;
    --container-xsmall-width: 140rem;
  }
  @include bp(laptop) {
  }
  @include bp(desktop) {
    --font-size-title--xl: 3rem;
  }

  @include bp(tablet) {
    --font-size-title--lg: 3rem;
    --font-size-text: 1.6rem;

    --font-size-title--xxxl: 7.2rem;
    --font-size-title--md: 2.5rem;
    --header-height: 9rem;
  }
  @include bp(tablet-small-under) {
    --font-size-title--lg: 2.4rem;
    --font-size-title--mlg: 2.8rem;
    --font-size-title--md: 2.3rem;
    --font-size-title--sm: 2.1rem;

    --font-size-title--xxl: 4rem;
    --font-size-title--xl: 26px;
    --font-size-title--xmd: 3rem;
    --font-size-title--xsm: 2.2rem;
    --font-size-title--xs: 1.8rem;
    --font-size-title--xxs: 1.6rem;
    --font-size-toptitle: 16px;
  }
  @include bp(tablet-small) {
    --font-size-title--xxl: 4.5rem;
    --font-size-title--md: 2.5rem;
  }
  @include bp(mobile) {
    --container-pusher: 16px;

    --header-height: 6.6rem;
    --font-size-title--xxl: 2.6rem;
    --font-size-title--xl: 2rem;
    --font-size-title--xs: 1.2rem;
    --font-size-title--md: 2rem;
    --font-size-title--sm: 1.7rem;
    --font-size-title--lg: 1.8rem;
    --font-size-title--xsm: 1.7rem;
    --font-size-toptitle: 1.3rem;
    --font-size-text: 1.5rem;
    --font-size-title--lmd: 1.6rem;
  }
}


